<table class="table table-striped table-bordered table-sm row-border hover" id="vehiclesTable">
    <thead>
        <tr>
            <th>Model</th>
            <th>Make</th>
            <th>Name</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vehicles">
            <td>{{v.make.name}}</td>
            <td>{{v.model.name}}</td>
            <td>{{v.contact.name}}</td>
            <td>
                <a href="" [routerLink]="['/vehicles/', v.id]" >View</a>
            </td>

        </tr>
    </tbody>
</table>